extends layout

block content
  if (letter)
    section
      .container.grid-md
        center
          h1 Let's Go!
        .postcard
          .columns
            .column.col-3
              img(src=member.banner)
              h5= member.name
              h6= user.neighborhood
              h6= district.name
            .column.col-1
              p &nbsp;
            .column.col-8
              h6 Dear Rep.&nbsp;
                = member.name
                | ,
              p= letter.content
              h6 Your Constituent,
              h6= user.name
              br
              form(action="/email", method="post")
                input(type="hidden", name="member", value=member.id)
                input(type="hidden", name="letter", value=letter.id)
                button.btn(type="submit", value="Send Email") Send Email
  section
    .container.grid-md
      center
        h2 Your Reps
      .postcard
        .columns
          .column.col-6
            img.img-responsive(src=member.banner)
          .column.col-6
            h4= member.name
            h5= user.neighborhood
            h5= district.name
            a(href="mailto:" + member.email)
              = member.email
            br
            a(href="tel:" + member.phone)
              = member.phone
            br
            a(href="https://twitter.com/" + member.twitter)
              = "@" + member.twitter

      .columns

        - for(let rep of reps)
          .column.col-6.col-mx-auto
            .tile
              .tile-icon
                img(src=rep.portrait)
              .tile-content
                h6.tile-title= rep.office + ": " + rep.name
                p.tile-subtitle
                  if (rep.emails.length > 0)
                    a(href="mailto:" + rep.emails[0])= rep.emails[0]
                    br
                  if (rep.phones.length > 0)
                    a(href="tel:" + rep.phones[0])= rep.phones[0]
                    br
                  - for(let url of rep.urls)
                    a(href=url)= url
                    br
                  - for(let channel of rep.channels)
                    = channel.type + ": " + channel.id
                    br
  section
    .container.grid-md
      center
        h2 Agenda
      - for (let meeting of meetings)
        hr
        .columns
          .col-3
            h6= meeting.date
            small
              em
                p= meeting.address
                  br
                  = "@ " + meeting.time
            p
              img.img-responsive(src="https://maps.googleapis.com/maps/api/staticmap?center=" + meeting.address + "&zoom=13&size=300x300&maptype=roadmap&markers=color:red%7Clabel:%7C" + meeting.address + "&key=AIzaSyDAU86NGlydy0BQelvDwDSKjGaMz4m-nxc")
          .col-1
            p &nbsp;
          .col-8
            h5= meeting.name
            h6 Agenda:
            p= meeting.notification


  script.
    $("#dashboard").addClass("active")