extends layout
include mixins/events.pug
include mixins/postcard.pug

block content
  if (letter)
    section
      .container.grid-md
        center
          h1 Let's Go!
        +postcard(letter, user.representatives.councilMember, false)

  section.submit
    .container.grid-sm
      center
        h2 What's going on?
        p
          center
            | Let us know what's happening in your community.
            br
            | Selected submissions are sent as notifications to the entire team.
        form(action="/submit", method="post")
          textarea#submission-text.form-input(name="submission")
          br
          button.btn(type="submit") Submit

  +events(meetings)

  section
    .container.grid-md
      hr
      center
        h2 Your Team
      .postcard
        .columns
          .column.col-6.col-sm-12
            img.img-responsive(src=user.representatives.councilMember.portrait)
          .column.col-6.col-sm-12
            h4= user.representatives.councilMember.name
            h5= user.neighborhood
            h5= "District " + user.representatives.councilMember.district
            a(href="mailto:" + user.representatives.councilMember.emails[0])
              = user.representatives.councilMember.emails[0]
            br
            a(href="tel:" + user.representatives.councilMember.phones[0])
              = user.representatives.councilMember.phones[0]
            br
            - for(let channel of user.representatives.councilMember.channels)
              - if(channel.type === "Twitter")
                a(href="https://twitter.com/" + channel.id)= "@" + channel.id
                br
              - if(channel.type === "Facebook")
                a(href="https://facebook.com/" + channel.id)= "facebook.com/" + channel.id
                br
      .columns
        - for(let rep of user.representatives.representatives)
          .column.col-6.col-sm-10.col-mx-auto
            .tile
              .tile-icon
                img.img-responsive.shadow(src=rep.portrait)
              .tile-content
                h6.tile-title= rep.office + ": " + rep.name
                p.tile-subtitle
                  small
                    if (rep.emails.length > 0)
                      a(href="mailto:" + rep.emails[0])= rep.emails[0]
                      br
                    if (rep.phones.length > 0)
                      a(href="tel:" + rep.phones[0])= rep.phones[0]
                      br
                    - for(let channel of rep.channels)
                      - if(channel.type === "Twitter")
                        a(href="https://twitter.com/" + channel.id)= "@" + channel.id
                        br
                      - if(channel.type === "Facebook")
                        a(href="https://facebook.com/" + channel.id)= "facebook.com/" + channel.id
                        br

  script.
    $("#dashboard").addClass("active")