extends layout

block content
  if (letter)
    section
      .container.grid-md
        center
          h1 Let's Go!
        .postcard
          .columns
            .column.col-3
              img(src=user.representatives.councilMember.banner)
              h5= user.representatives.councilMember.name
              h6= user.neighborhood
              h6= "District " + user.representatives.councilMember.district
            .column.col-1
              p &nbsp;
            .column.col-8
              h5 Attn. Rep.&nbsp;
                = user.representatives.councilMember.name
                | ,
              p= letter.content
              h6 Your Constituent,
              h6= user.name
              br
              form(action="/email", method="post")
                input(type="hidden", name="member", value=user.representatives.councilMember.id)
                input(type="hidden", name="letter", value=letter.id)
                button.btn(type="submit", value="Send Email") Send Email
  section.submit
    .container.grid-sm
      center
        h2 What's going on?
        p
          center
            | Let us know what's happening in your community.
            br
            | Selected submissions are sent as notifications to the entire team.
        form(action="/submit", method="post")
          textarea#submission-text.form-input(name="submission")
          br
          button.btn(type="submit") Submit

  section
    .container.grid-md
      center
        h2 Your Team
      .postcard
        .columns
          .column.col-6
            img.img-responsive(src=user.representatives.councilMember.banner)
          .column.col-6
            h4= user.representatives.councilMember.name
            h5= user.neighborhood
            h5= "District " + user.representatives.councilMember.district
            a(href="mailto:" + user.representatives.councilMember.emails[0])
              = user.representatives.councilMember.emails[0]
            br
            a(href="tel:" + user.representatives.councilMember.phones[0])
              = user.representatives.councilMember.phones[0]
            br
            - for(let channel of user.representatives.councilMember.channels)
              - if(channel.type === "Twitter")
                a(href="https://twitter.com/" + channel.id)= "@" + channel.id
                br
              - if(channel.type === "Facebook")
                a(href="https://facebook.com/" + channel.id)= "facebook.com/" + channel.id
                br

      .columns
        - for(let rep of user.representatives.representatives)
          .column.col-6.col-mx-auto
            .tile
              .tile-icon
                img.img-responsive.shadow(src=rep.portrait)
              .tile-content
                h6.tile-title= rep.office + ": " + rep.name
                p.tile-subtitle
                  small
                    if (rep.emails.length > 0)
                      a(href="mailto:" + rep.emails[0])= rep.emails[0]
                      br
                    if (rep.phones.length > 0)
                      a(href="tel:" + rep.phones[0])= rep.phones[0]
                      br
                    - for(let channel of rep.channels)
                      - if(channel.type === "Twitter")
                        a(href="https://twitter.com/" + channel.id)= "@" + channel.id
                        br
                      - if(channel.type === "Facebook")
                        a(href="https://facebook.com/" + channel.id)= "facebook.com/" + channel.id
                        br

  section
    .container.grid-md
      center
        h2 Agenda
      - for (let meeting of meetings)
        hr
        .columns
          .col-3
            h6= meeting.date
            small
              em
                p= meeting.address
                  br
                  = "@ " + meeting.time
            p
              img.img-responsive(src="https://maps.googleapis.com/maps/api/staticmap?center=" + meeting.address + "&zoom=13&size=300x300&maptype=roadmap&markers=color:red%7Clabel:%7C" + meeting.address + "&key=AIzaSyDAU86NGlydy0BQelvDwDSKjGaMz4m-nxc")
          .col-1
            p &nbsp;
          .col-8
            h5= meeting.name
            h6 Agenda:
            p= meeting.notification
  script.
    $("#dashboard").addClass("active")