extends layout

block content
  header
    section
      .container.grid-md
        center
          img.small(src="/images/team-nyc-logo-transparent.png")
          h2 Let's Go!
        .postcard
          .columns
            .column.col-3
              img(src=rep.banner)
              h5= rep.name
              h6= user.neighborhood
              h6= district.name
              p
                small
                  br
                  a(href="mailto:" + rep.email)
                    = rep.email
                  br
                  a(href="tel:" + rep.phone)
                    = rep.phone
                  br
                  a(href="https://twitter.com/" + rep.twitter)
                    = "@" + rep.twitter
            .column.col-1
              p &nbsp;
            .column.col-8
              h6 Dear Rep.&nbsp;
                = rep.name
                | ,
              p= letter.content
              h6 Your Constituent,
              h6= user.name
              br
              form(action="/email", method="post")
                input(type="hidden", name="member", value=rep.id)
                input(type="hidden", name="letter", value=letter.id)
                button.btn(type="submit", value="Send Email") Send Email

    section
      .container.grid-md
        center
          h2 Agenda
        p news