include mixins/footer.pug
include mixins/head.pug

doctype html
html
  head
    +head()
    block meta

  body
    nav
      .container.grid-md
        header.navbar
          section.navbar-section
            a(href='/')
              img.nav(src='/images/team-nyc-logo-red.png')
          section.navbar-section
            if user
              a#dashboard(href='/dashboard') Dashboard
              a#settings(href='/settings') Settings
              a(href='/logout') Logout
            else
              a.btn.hide-sm(href='/join') Join Now
              a(href='/login') Log In

    block content

    +footer()

    if user
      script.
        window.intercomSettings = {
          app_id: "qun7tlvl",
          name: "#{user.name}", // Full name
          email: "#{user.email}", // Email address
          subscriber: #{user.subscriber},
          phoneVerified: #{user.phone.verified},
          letterCount: #{user.letters.length}
        };
    else
      script.
        window.intercomSettings = { app_id: "qun7tlvl" };
    script.
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/qun7tlvl';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()


    block javascript
