doctype html
html
  head
    title Team New York
    link(rel='stylesheet', href='/stylesheets/spectre.min.css')
    link(rel='stylesheet', href='/stylesheets/spectre-icons.min.css')
    link(rel='stylesheet', href='/stylesheets/spectre-exp.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-116732316-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-116732316-1');

  body
    nav
      .container.grid-md
        header.navbar
          section.navbar-section
            a(href='/')
              img.nav(src='/images/team-nyc-logo-white.png')
          section.navbar-section
            if user
              a#dashboard(href='/dashboard') Dashboard
              a#settings(href='/settings') Settings
              a(href='/logout') Logout
            else
              a.btn.hide-sm(href='/join') Join Now
              a(href='/login') Log In
    block content

    footer
      .container.grid-md
        center
          a(href="/") Home
          span &middot;
          a(href="/join") Join
          span &middot;
          a(href="/faq") FAQ
          span &middot;
          a(href="https://goo.gl/forms/UU9z1ivwM2nSdlNi2") Contact
          span &middot;
          a(href="/terms") Terms
          span &middot;
          a(href="/privacy") Privacy
          span &middot;
          a(href="https://github.com/philleif/team-newyork", target="new") Github
          p
          em &copy; 2018 Citizen Capital, a 501c(3) Nonprofit

    if user
      script.
        window.intercomSettings = {
          app_id: "qun7tlvl",
          name: "#{user.name}", // Full name
          email: "#{user.email}", // Email address
          subscriber: true,
          phoneVerified: #{user.phone.verified},
          letterCount: #{user.letters.length}
        };
    else
      script.
        window.intercomSettings = { app_id: "qun7tlvl" };
    script.
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/qun7tlvl';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()


    block javascript
