extends simple

block content
  if (letter && user)
    section
      .container.grid-md
        .postcard
          .columns
            .column.col-3.hide-sm
              img(src=user.representatives.councilMember.banner)
              h5= user.representatives.councilMember.name
              h6= user.neighborhood
              h6= "District " + user.representatives.councilMember.district
            .column.col-8.col-sm-12
              h6 Dear Rep.&nbsp;
                = user.representatives.councilMember.name
                | ,
              p= letter.content
              h6 Your Constituent,
              h6= user.name
              br
              form(action="/letter", method="post")
                input(type="hidden", name="representative", value=user.representatives.councilMember.id)
                input(type="hidden", name="letter", value=letter.id)
                input(type="hidden", name="token", value=user.tokens.letter)
                button.btn(type="submit", value="Send Email") Send Email
  else
    center
      h6 You've already sent this letter!
      p We'll send you an alert once there's more news.
