mixin postcard(letter, representative, anon)

  .postcard
    .columns
      .column.col-3.hide-sm
        img(src=representative.portrait)
        strong
          p= representative.name
            br
            small= representative.office
            br
            small
              a(href="mailto:" + representative.emails[0])= representative.emails[0]
      .column.col-8.col-sm-12.col-mx-auto
        h5 Attn:&nbsp;
          = representative.name
          | ,
        p= letter.content
        strong Your Constituent,
        if (anon)
          form(action="/letter", method="post")
            .columns
              .column.col-4
                input.form-input(type="text", name="name", placeholder="Your Name")
              .column.col-4
                input.form-input(type="text", name="email", placeholder="Your Email")
                input(type="hidden", name="representative", value=representative.id)
                input(type="hidden", name="letter", value=letter.id)
              .column.col-4
                center
                  button.btn(type="submit") Send
        else
          .signature= user.name
          br
          form(action="/letter", method="post")
            input(type="hidden", name="representative", value=representative.id)
            input(type="hidden", name="letter", value=letter.id)
            input(type="hidden", name="token", value=user.tokens.letter)
            button.btn(type="submit", value="Send Email") Send Email